/* Header DND sections */

.header .dnd-section {
    padding: 0;
}

/* Header container */

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.7rem 1rem;
    margin-bottom: 1rem;
}

.header__row-1 {
    padding-top: 1rem;
}

.header__row-1,
.header__row-2 {
    align-items: left;
    display: flex;
    justify-content: left;
    width: 100%;
}

@media (max-width: 1150px) and (min-width: 767px) {
    .header__column {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header__container {
        flex-direction: column;
        padding: 1rem 0 0.7rem;
    }

    .header__column {
        position: relative;
    }

    .header__row-1 {
        padding-top: 0;
    }

    .header__row-2 {
        justify-content: center;
        padding: 1.05rem;
    }
}
